<div class="margin-block-end">
  <strong class="divider txt-large">Do or Die</strong>
  <div class="flex align-start gap">
    <div class="flex flex-column full-width" style="flex-basis: 48%">
      <strong>Cards in Considering</strong>
      <p class="txt-x-small margin-none">Auto-close after…</p>
      <%= form_with model: collection, data: { controller: "form" } do |form| %>
        <%= form.select :auto_close_period, collection_auto_close_options, {}, { class: "input input--select full-width margin-block-half txt-small fill-white txt-align-center", data: { action: "change->form#submit" } } %>
      <% end %>
    </div>
    <div class="separator margin-block-half" style="--border-color: var(--color-ink-medium); min-block-size: 4lh;"></div>
    <div class="flex flex-column full-width" style="flex-basis: 48%">
      <strong>Cards inDoing</strong>
      <p class="txt-x-small margin-none">Fall back to Considering after…</p>
      <%= form_with model: collection, data: { controller: "form" } do |form| %>
        <%= form.select :auto_close_period, collection_auto_close_options, {}, { class: "input input--select full-width margin-block-half txt-small fill-white txt-align-center", data: { action: "change->form#submit" } } %>
      <% end %>
    </div>
  </div>
</div>
 