<%= link_to collection_webhooks_path(collection_id: collection), class: "btn tooltip" do %>
  <%= icon_tag "world" %>
  <span class="for-screen-reader">Webhooks for <%= collection.name %></span>
<% end %>
